logging.level.org.springframework=DEBUG
logging.level.com.authservice=DEBUG
spring.data.mongodb.database=test
spring.data.mongodb.uri=mongodb://root:cfgmla23@localhost:27017
jwt.secret.key=JWT_KEY_HERE
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=USERNAME
spring.mail.password=PASSWORD
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true